.box-not-hav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0.5rem;
        font-size: 1.1rem;
        color: #B5DEFF;
        text-align: center;
    }
    
    .svg-gretting{
        width: 5rem;
        height: 5rem;

    }
}

.continer-profiel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            width: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border-radius: 100%;
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
        h3 {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
    .mail-info{
        width: 100%;
    }
}

.log-out {
    top:5px;
    right: 5px;
    position: fixed;
}